.wrapper{
  padding: 20px;
}
.wrapper .personData .person .name{
  font-size: 16px;
  width: 100%;
  margin-left: 20px;
}
 .person{
  display: flex;
}
.someError{
  color: red;
}
 .ava img{
  height: 100px;
  width: 100px;
}
.new_post{
  display: block;
}
.contacts{
  padding-left: 10px;
}
.your_post{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 18px;
}
.text{
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}
.wrapper .new_post .wrapperForm .wrapper_button .but_send{
  height: 40px;
  width: 100px;
  margin-right: 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 20px;
}
.wrapper_button{
  width: 100%;
  text-align: end;
  margin: 10px;
}
