.header{
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    border: 2px solid;
    border-radius: 19px;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.835);
}
.text{
    font-family: 'Trade Winds', cursive;
    font-size: 32px;
}
.text .text2{
    font-size: 18px;
}
.login{
    float: right;
    font-size: 16px;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center ;
}
.logout img{
    width: 10px;
    height: 10px;
    padding-left:5px ;
}
.wrapperName{
    display: flex;
    flex-wrap: wrap;
}
.wrapperLogout{
    width: 100%;
    text-align: center;
}
.logout{

}