.nav{
    width:200px;
    background-color: rgb(206, 199, 203);
    margin-right: 10px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.nav div{
    padding: 20px;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}
.nav div a{
    text-decoration: none;
    color: black;
}
.nav .active{
    color: teal;
}
.nav .friends .item{
    display: flex;
    width: 100%;
    padding: 0;
}
.nav .friends .item div{
    padding: 0;
}
.nav .friends .text{
    padding: 20px 0;
    font-size: 25px;
}
.friends{
    padding: 0;
}