.wrapper{
    display: flex;
    width: 100%;
}
.dialogs{
    width: 20%;
}
.messages{
    width: 100%;
    padding: 0 20px;
}
.text_area{
    width: 80%;
    display: flex;
}
/* .dialogs .active{
    color: turquoise;
    font-size: 20px;
} */
/*  */
a{
    color: black;
    text-decoration: none;
}