.wrapper{
    display: flex;
    width: 100%;
}
.dialogs{
    width: 20%;
}
.messages{
    width: 100%;
    padding: 0 20px;
}
.text_area{
    width: 80%;
    display: flex;
}
.text_area .input{
    border: 2px solid olive;
    border-radius: 15px;
}
.btn_send{
    border:none;
    border-radius: 20px;
    background-color: black;
    color: white;
    width: 70px;
    margin-left:10px ;
}
a{
    color: black;
    text-decoration: none;
}